<ul class="nav nav-pills">
  <li role="presentation"><a href="/">See All</a></li>
  <li role="presentation"><a href="/new">Add New</a></li>
  <li role="presentation"><a href="/types">Search by Type</a></li>
</ul>
