<div class="makeupDiv col-md-4">
  <img class="makeup-pic" src={{imageURL}} alt={{name}}/>
  <p class="caption">{{brand}} {{name}}</p>
  <p class="caption">ID number: {{_id}}</p>
  <a class="caption" href="/update/{{_id}}">Update item</a>
</div>
