<!DOCTYPE html>
<html>
  {{head}}
  <body>
    <div class="container">
      <h2>Delete item</h2>
        <form class="delete" action="/delete/:id" method="POST">
          <input type="text" name="makeupID" value="" placeholder="Enter the ID of the makeup you want to delete..." size=50 required>
          <input type="submit" name="submit" value="Delete!">
        </form>
    </div>
  </body>
</html>
