<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>See the Collection</h1>
        <div class="button-group" role="group">
          <p><a class="link btn btn-link btn-lg btn-block" href="/all" role="button">See All</a></p>
          <p><a class="link btn btn-link btn-lg btn-block" href="/new" role="button">Add Item</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
