<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    {{>_header}}
    <div class="container">
      <h1>Update {{name}}</h1>
      {{#makeup}}
        {{>_update}}
      {{/makeup}}
    </div>
  </body>
</html>
