html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url('./images/BLACK_I_desktop-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #CECECE;
  font-family: 'Mrs Saint Delafield', cursive;
}

/*header styles*/

header {
  background-image: url('./images/gold-collection.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-pills li {
  padding: 0 20px;
}

.nav-pills a {
  font-family: 'Mrs Saint Delafield', cursive;
  padding: 0 5px;
  background-color: black;
  font-size: 1.8em;
  color: #CECECE;
  border: 1px solid #CECECE;
  transition-property: color background-color;
  /*transition-duration: 1s;*/
}
.nav-pills a:hover {
  background-color: black;
  color: red;
  border: 1px solid #CECECE;
  text-decoration: none;
}


div.makeup {
  background-color: rgba(0, 0, 0, 0.9);
  color: #CECECE;
  font-family: 'Raleway', sans-serif;
}

div.jumbotron {
  background-image: url('./images/gold-collection.jpg');
  background-color: black;
  color: #CECECE;
  font-family: 'Mrs Saint Delafield', cursive;
}

h1 {
  background-color: black;
  color: #CECECE;
  padding: 10px 20px;
  border: 1px solid #CECECE;
}

div.jumbotron div p a {
  font-family: 'Mrs Saint Delafield', cursive;
  background-color: black;
  font-size: 1.4em;
  color: #CECECE;
  border: 1px solid #CECECE;
  transition-property: color background-color;
  /*transition-duration: 1s;*/
}
div.jumbotron div p a:hover {
  background-color: black;
  color: red;
  border: 1px solid #CECECE;
  text-decoration: none;
}

div.button-group {
  width: 40%;
  margin: 0 auto;
}

/*makeup collection styles*/

div.makeupDiv {
  margin: 30px 0;
  background-color: black;
}

img.makeup-pic {
  width: 250px;
  height: 250px;
  margin: 30px 45px 20px 45px;
}

p.caption {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 10px;
  text-align: center;
}

/*New Makeup form styles*/

form.addnew {
  margin: 0 auto;
  padding: 50px 0;

}

form.addnew input, select {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: white;
  font-size: 0.9em;
  padding: 10px;
  margin: 0 5px;
}

form.addnew select {
  width: 150px;
  height: 30px;
}

a.caption {
  margin: 7%;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  padding: 10px 20px;
  text-align: center;
  color: #CECECE;
  text-decoration: none;
  border: 1px solid white;
}
